@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  transition-property: opacity, background, transform, filte;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  width: 100%;
  height: 100vh;
  background-color: pink;
}

/* page - transition animation start  */

.pageTransition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(12px);
}

/* page - transition animation end  */

/* Home event section styling start */
.EventSec {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.HomeEventCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  aspect-ratio: 9/16;
  perspective: 1000px;
}

.HomeEventCard p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.cardWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: floating 3s infinite ease-in-out;
}

#card-1 .cardWrapper {
  animation-delay: 0;
}
#card-2 .cardWrapper {
  animation-delay: 0.2s;
}
#card-3 .cardWrapper {
  animation-delay: 0.4s;
}
#card-4 .cardWrapper {
  animation-delay: 0.6s;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.8rem;
  overflow: hidden;
}

.flipCardBack {
  padding: 1rem;
  background-color: #fff;
  transform: rotateY(180deg);
}

@keyframes floating {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -60%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

/* Home event section styling end */

/* container code  */

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
